src/EgojitCms/src/BLL/bin/Debug/netcoreapp1.0/BLL.dll
src/EgojitCms/src/BLL/bin/Debug/netcoreapp1.0/BLL.pdb
src/EgojitCms/src/BLL/obj/Debug/netcoreapp1.0/.IncrementalCache
src/EgojitCms/src/BLL/obj/Debug/netcoreapp1.0/dotnet-compile-csc.rsp
src/EgojitCms/src/BLL/obj/Debug/netcoreapp1.0/dotnet-compile.assemblyinfo.cs
src/EgojitCms/src/BLL/obj/Debug/netcoreapp1.0/dotnet-compile.rsp
src/EgojitCms/src/DAL/bin/Debug/netcoreapp1.0/DAL.dll
src/EgojitCms/src/Comm/obj/Debug/netcoreapp1.0/dotnet-compile.rsp
src/EgojitCms/src/Comm/obj/Debug/netcoreapp1.0/dotnet-compile.assemblyinfo.cs
src/EgojitCms/src/DAL/bin/Debug/netcoreapp1.0/DAL.pdb
src/EgojitCms/src/DAL/obj/Debug/netcoreapp1.0/.IncrementalCache
src/EgojitCms/src/Comm/obj/Debug/netcoreapp1.0/.IncrementalCache
src/EgojitCms/src/Comm/obj/Debug/netcoreapp1.0/.SDKVersion
src/EgojitCms/src/Comm/bin/Debug/netcoreapp1.0/Comm.pdb
src/EgojitCms/src/Comm/bin/Debug/netcoreapp1.0/Comm.dll
src/EgojitCms/src/DAL/obj/Debug/netcoreapp1.0/dotnet-compile-csc.rsp
src/EgojitCms/src/Models/bin/Debug/netcoreapp1.0/Models.dll
src/EgojitCms/src/Models/obj/Debug/netcoreapp1.0/.IncrementalCache
src/EgojitCms/src/DAL/obj/Debug/netcoreapp1.0/dotnet-compile.assemblyinfo.cs
src/EgojitCms/src/Models/bin/Debug/netcoreapp1.0/Models.pdb
src/EgojitCms/src/Models/obj/Debug/netcoreapp1.0/dotnet-compile-csc.rsp
src/EgojitCms/src/Models/obj/Debug/netcoreapp1.0/dotnet-compile.assemblyinfo.cs
src/EgojitCms/src/DAL/obj/Debug/netcoreapp1.0/.SDKVersion
src/EgojitCms/src/Models/obj/Debug/netcoreapp1.0/dotnet-compile.rsp
src/EgojitCms/src/Web/bin/Debug/netcoreapp1.0/Comm.dll
src/EgojitCms/src/Web/bin/Debug/netcoreapp1.0/Comm.pdb
src/EgojitCms/src/Web/bin/Debug/netcoreapp1.0/DAL.dll
src/EgojitCms/src/Web/bin/Debug/netcoreapp1.0/BLL.dll
src/EgojitCms/src/Web/bin/Debug/netcoreapp1.0/BLL.pdb
src/EgojitCms/src/Web/bin/Debug/netcoreapp1.0/Models.pdb
src/EgojitCms/src/Web/bin/Debug/netcoreapp1.0/Web.dll
src/EgojitCms/src/Web/bin/Debug/netcoreapp1.0/Models.dll
src/EgojitCms/src/Models/obj/Debug/netcoreapp1.0/.SDKVersion
src/EgojitCms/src/Web/bin/Debug/netcoreapp1.0/Web.deps.json
src/EgojitCms/src/DAL/obj/Debug/netcoreapp1.0/dotnet-compile.rsp
src/EgojitCms/src/Web/bin/Debug/netcoreapp1.0/DAL.pdb
src/EgojitCms/src/Web/bin/Debug/netcoreapp1.0/Web.pdb
src/EgojitCms/src/Web/obj/Debug/netcoreapp1.0/.IncrementalCache
src/EgojitCms/src/Web/bin/Debug/netcoreapp1.0/Web.runtimeconfig.dev.json
src/EgojitCms/src/Web/bin/Debug/netcoreapp1.0/Web.runtimeconfig.json
src/EgojitCms/src/BLL/obj/Debug/netcoreapp1.0/.SDKVersion
src/EgojitCms/src/Web/obj/Debug/netcoreapp1.0/dotnet-compile-csc.rsp
src/EgojitCms/src/Web/obj/Debug/netcoreapp1.0/Webdotnet-compile.deps.json
src/EgojitCms/src/Web/obj/Debug/netcoreapp1.0/dotnet-compile.rsp
src/EgojitCms/src/Web/obj/Debug/netcoreapp1.0/.SDKVersion
src/EgojitCms/src/Comm/obj/Debug/netcoreapp1.0/dotnet-compile-csc.rsp
src/EgojitCms/src/Web/obj/Debug/netcoreapp1.0/dotnet-compile.assemblyinfo.cs